@model IEnumerable<Album>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Okładka</th>
            <th>Nazwa zespołu</th>
            <th>Nazwa albumu</th>
            <th>Imię i nazwisko zamawiającego</th>
            <th>Zwróć</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Album album in Model)
        {
        <tr>
            <td>@album.AlbumId</td>
            <td>
                <img src="@album.AlbumArtUrl" />
            </td>
            <td>@album.Band.BandName</td>
            <td>@album.Title</td>
            <td>@album.Borrower.CustomerName</td>
            <td><a class="btn btn-success" asp-area="" asp-controller="Return" asp-action="ReturnAnAlbum" asp-route-albumId="@album.AlbumId">Zwróć</a></td>
        </tr>
        }
    </tbody>
</table>